<script type="module" src="../../@polymer/polymer/polymer-legacy.js"></script>
<script type="module" src="../../@polymer/iron-flex-layout/iron-flex-layout-classes.js"></script>

<dom-module id="tv-exercise-renderer">

<template>
<style include="iron-flex"></style>

<style>
:host {
    display: block;
}
</style>


</template>

<script type="module">
import '@polymer/polymer/polymer-legacy.js';
import '@polymer/iron-flex-layout/iron-flex-layout-classes.js';
Polymer({
    is: 'tv-exercise-renderer',
    properties: {
        
    },
    
});
</script>
</dom-module>