<html>
<head>
<meta charset="utf8">

<script>
    // setup Polymer options
    window.Polymer = {lazyRegister: true, dom: 'shadow'};

    // load webcomponents polyfills
    (function() {
      if ('registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')) {
        // browser has web components
      } else {
        // polyfill web components
        var e = document.createElement('script');
        e.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
        document.head.appendChild(e);
      }
    })();

  </script>

<link rel="import" href="./tve-inline-equation.html">
</head>
<body>

<tve-inline-equation content="a^2+b^2 = c^2"></tve-inline-equation>


</body>
